
<div id="flota" class="leftBarPanel">
	<div id="imgPanel" > 
		<%= image_tag("admin.jpg") %>
	</div>
	<div id="espacio" > 
		&nbsp;
	</div>
	<div id="registroInvolcradosBtn" class="btnPanel active"> 
		<div class="img active">
			<%= image_tag("vistageneral.png") %>
		</div>
		<div class="unoa">
			Vista General
		</div>
	</div>

	<div id="conociendoMejorBtn" class="btnPanel"> 
		<div class="img">
			<%= image_tag("proyectos.png") %>
		</div>
		<div class="unoa">
			Proyectos
		</div>
	</div>
</div>