<td colspan=2><center><%= link_to "Ver Proyecto", application_path(@app_obj),:class=>"button",:target =>"_blank", :style=>"padding: 5px 100px ! important;" %></center>
</td>

<% if PdfPreview.find_by_application_id(@app_obj.id).nil? %>
	<td colspan=2 style="color:#E5213B; font-weight: bold;"><center>(incompleto) No generó PDF</center></td>
<% else %>
	<td colspan=2><center><%= link_to "Descargar (PDF)", application_path(@app_obj, :format => 'pdf'),:class=>"button",:target =>"_blank", :style=>"padding: 5px 100px ! important;" %></center>
	</td>
<% end %>

