<br>
<% @u = User.where("user_profile_id = ? and college_id = ?",2,2) %>
Proyectos Totales UAQ : <%= @u.count %>

<% @u.each do |lider_proyecto| %>
	<%= lider_proyecto.id %>
	<% @ap = lider_proyecto.applications %>

	<%if @ap.empty? %>
		
	<% else %>
			<div id="proyectos">
				<%= debug @ap %>
					<table style="width:100%;">
						<tr>
							<th>Proyecto</th>
							<th>Categoria</th>
							<th>Descripción</th>
						</tr>
					<tr ALIGN=CENTER>
					
						</tr>
					</table>
	<% end %>
<% end %>