
	<table id="tabApplicationsList" class="box">
		<thead>
			<th>Imagen Proyecto</th><th>Nombre</th><th>Descripción</th><th>PDF's</th><th>Redes Sociales</th>
		</thead>
		<tbody>
		  	<%= render @applications %>
		</tbody>
	</table>
