<p>
¿Sabias que un alto porcentaje de los proyectos que se realizan fracasan solo por no identificar correctamente el problema o necesidad? <small>(Muchas veces buscamos soluciones sin identificar primero el problema o necesidad real)</small>
</br>
Veamos si tu idea va por buen camino.
</br>
Empecemos definiendo el problema o necesidad.
</br>
Cuando comienzas a trabajar en un proyecto es necesario que identifiques el problema, esto es, lo que deseas resolver.
</br>
Seguramente tu idea ha surgido como consecuencia de querer resolver un problema o atender una necesidad.
</br>
El impacto que tus ideas tienen en el mundo es muy importante, por ello es necesario ubicar en qué área en específico pretende enlazarse tu idea, es decir si es una idea empresarial, posiblemente tenga un impacto económico.
</p>