<div id="laaccion3">
	<b>Redacta las actividades para definir este objetivo 3: </b>
	<br>
	<label id="labella3"></label>
	<br>
	<textarea class="inputs arbolCE obj_input" placeholder="Actividades" id="act3"></textarea>
	<textarea class="inputs arbolCE obj_input" placeholder="Periodo de tiempo (Dias)" id="tiem3"></textarea>
</div>