<div id="laaccion1">
	<b>Redacta las actividades para definir este objetivo 1: </b>
	<br>
	<label id="labella1"></label>
	<br>
	<textarea class="inputs arbolCE obj_input" placeholder="Actividades" id="act1"></textarea>
	<textarea class="inputs arbolCE obj_input"  placeholder="Periodo de tiempo (Dias)" id="tiem1"></textarea>
</div>