<div id="laaccion2">
	<b>Redacta las actividades para definir este objetivo 2: </b>
	<br>
	<label id="labella2"></label>
	<br>
	<textarea class="inputs arbolCE obj_input" placeholder="Actividades" id="act2"></textarea>
	<textarea class="inputs arbolCE obj_input" placeholder="Periodo de tiempo (Dias)" id="tiem2"></textarea>
</div>