<p>En este apartado encontrarás material que te servirá en el proceso y desarrollo de tu idea</p>

<a href="https://s3.amazonaws.com/flimx/CONCURSO+PREPARANDO+Emprendedores.pdf" target="_blank xlink" class="button xlink"> Concurso Preparando </a>

<a href="https://s3.amazonaws.com/flimx/Carta_de_originalidad.pdf" target="_blank" class="button xlink" > Carta Originalidad </a>

<a href="http://issuu.com/uvtc-uaq/docs/preparando_emprendedores_2014_-_fin" target="_blank" class="button xlink" > Material del Taller </a>
