<div id="pdf_preview" style="padding: 30px">
<h4>Titulo del Proyecto</h4>
<div id="pdf_titulo" contenteditable="true">
	<%= current_user.applications.first.name %>
</div>

<h4>Problema</h4>
<div id="pdf_problematica">
	<p contenteditable="true" >
	Debes saber que para hablar de tu problema en un contexto general tienes que identificar la problemática. Ésta se refiere a la descripción total de tu árbol, es decir, explicar tanto el problema principal como cada causa y efecto. Deberás sustentar con datos basados en información real y mostrar porque son un problema. Todo se redacta en tercera persona.
	</p>
</div>

<h4>Publico Objetivo</h4>
<div id="pdf_objetivo">
	<p contenteditable="true">
	Tu objetivo general es el enunciado central de tu árbol de objetivos.</p>
</div>

<h4>Propuesta</h4>
<div id="pdf_pob_objetivo" >
	<p contenteditable="true">
		Tu población objetivo surge de responder la pregunta Define tu objetivo o mercado meta de la Sección 4 área de Impacto.
	</p>
</div>

<h4>Presupuesto</h4>
<div >
	<table class="gridtable" style="border-radius:10px;" id="pdf_presupuesto">
		<tr>
			<th>Tipo Recurso</th>
			<th>Descripción</th>
			<th>Cantidad</th>
			<th>Costo Aprox.</th>
			<th>Sub Total</th>
		</tr>
	</table>
</div>


<h4>Actividades</h4>
<div>
	<table class="gridtable" style="border-radius:10px;" id="pdf_riesgos_contingencia">
		<tr >
			<th style="min-width: 235px; width: 98%;">Componente</th>
			<th style="min-width: 245px; width: 98%;">Actividades</th>
			<th style="min-width: 245px; width: 98%;">Riesgos</th>
			<th style="min-width: 250px; width: 98%;">Plan de Contigencia</th>
		</tr>
	</table>
</div>
</div>
<% if current_user.applications.first.pdf_previews.blank? %>
	<%= render :partial => 'pdf_previews/form_embed', :locals => {:pdf_preview_obj => PdfPreview.new} %>	
<% else %>
	<% @pdfobj = current_user.applications.first.pdf_previews.last %>
	<%= render :partial => 'pdf_previews/form_embed', :locals => {:pdf_preview_obj  => 	@pdfobj} %>
<% end %>