<a href="#openPop3"><%= image_tag("tip.png", :alt => "tip") %></a></br></br>
<div id="openPop3" class="pop">
	<div>
		<a href="#close" title="Close" class="close">X</a>
		<p style="margin-top: -10px; font-size:14px; font-style:italic;"> 
			<b>Se redacta en negativo.</b>Te mostramos las partes que lo conforman: Problema, causas y efectos. 
		</p>	
		<center><%= image_tag("tip1.png", :alt => "tip1") %></center>
		<p style="margin-top: -10px; font-size:14px; font-style:italic;"> 
			Tu problema deberá ir al centro. Las situaciones que lo causan se colocan en la parte inferior y los efectos del mismo en la parte superior.
		</p>
	</div>
</div>