<a href="#openPop4"><%= image_tag("tip.png", :alt => "tip") %></a></br></br>
<div id="openPop4" class="pop">
	<div>
		<a href="#close" title="Close" class="close">X</a>
		<center><%= image_tag("tip2.png", :alt => "tip1") %></center>
	</div>
</div>