<a href="#openPop8"><%= image_tag("tip.png", :alt => "tip") %></a></br></br>
<div id="openPop8" class="pop">
	<div>
		<a href="#close" title="Close" class="close">X</a>
		<center><%= image_tag("tablecom.png", :alt => "tablecom",:style => "width: 550px;") %></center>
	</div>
</div>