<a href="#openPop6"><%= image_tag("tip.png", :alt => "tip") %></a></br></br>
<div id="openPop6" class="pop">
	<div>
		<a href="#close" title="Close" class="close">X</a>
		<p style="margin-top: -10px; font-size:14px; font-style:italic;"> 
			<b>Sólo hay que pasarlo a positivo.</b>
		</p>	
		<center><%= image_tag("tip4.png", :alt => "tip1") %></center>
	</div>
</div>