<a href="#openPop7"><%= image_tag("tip.png", :alt => "tip") %></a></br></br>
<div id="openPop7" class="pop">
	<div>
		<a href="#close" title="Close" class="close">X</a>
		<p style="margin-top: -10px; font-size:14px; font-style:italic;"> 
		<b>Humanos: </b>En todo proyecto necesitas personas que dirijan y personas que ejecuten, o habrá ocasiones en que puedan realizar ambas acciones. </br>
		Para cada una de las actividades que escribiste anteriormente ubica cuantas personas necesitas.</br>
		¿Cuántas dirigen? ¿Cuántas ejecutan? </br>
		<b>Materiales:</b> Ya que sabes cuantas personas necesitas para ejecutar tu proyecto, lo siguiente es definir que equipos y/o maquinarias son vitales para el mismo. Calcúlalos desde el inicio hasta el final de tu cronograma. (Desde libretas, lapiceros, computadoras, renta de oficina/bodega, servicios, hasta maquinaria especializada, etc.)</br>
		<b>Presupuesto</b>
		De todos tus recursos materiales y humanos, determina cuanto te gastarías en cada cosa tomando en cuenta todo el tiempo de desarrollo de proyecto. (Sueldos de los involucrados, renta, servicios, envíos de los equipos o materia prima, etc.)
		Cuando tengas el costo total agrega un 5% (porcentaje recomendado) para cualquier imprevisto.
	</p>
	</div>
</div>