<a href="#openPop"> <%= image_tag("tip.png", :alt => "tip") %></a>
<div id="openPop" class="pop">
	<div>
		<h3 style="height: 20px;">Frase simple y sencilla</h3>
		<a href="#close" title="Close" class="close">X</a>
		<p style="margin-top: -30px; font-size:14px; font-style:italic;"> Ejemplo 1: Desarrollo de un sistema electrónico para monitoreo de humedad y temperatura en invernaderos. </br> Ejemplo 2: Creación de un manual de apoyo para familias mexicanas en el cuidado de personas con discapacidad motriz. </p>
	</div>
</div>