<a href="#openPop2"><%= image_tag("tip.png", :alt => "tip") %></a></br></br>
<div id="openPop2" class="pop">
	<div>
		<h3 style="height: 20px;">Ejemplo</h3>
		<a href="#close" title="Close" class="close">X</a>
		<p style="margin-top: -30px; font-size:14px; font-style:italic;"> Dificultad en los alumnos para leer con fluidez, claridad, ritmo, entonación y expresividad. </p>
	</div>
</div>