<!-- Banner Wrapper -->
<div id="banner-wrapper" style="margin-top:-30px;">									

<div id="cont" >
	<div id="raysDemoHolder" >
		<a href="/" id="raysLogo">Fuorescent Ideas</a>
		<div id="rays"></div>
	</div>
	<div id="frase" style="margin-top:-40px;">
		<center><h1 style="color:#fff; text-shadow: 0.1em 0.1em 0.2em black;">Generamos propuestas creativas a necesidades sociales</h1></center>
	</div>
</div>
</div>


<!-- <%= link_to 'Applicaciones', applications_path %> -->


