<!-- Banner Wrapper -->
<div id="banner-wrapper" style="margin-top:-30px;">									

<div id="cont" >
	<div id="raysDemoHolder" >
		<a href="/" id="raysLogo">Fuorescent Ideas</a>
		<div id="rays"></div>
	</div>
</div>
</div>


<!-- <%= link_to 'Applicaciones', applications_path %> -->


