<div id="banner-wrapper" style="margin-top:-30px;">
  <div id="aplicacion" class="box">

<center><h1>Editando Usuario</h1></center>

<%= render 'form' %>

<%= button_to 'Cancelar', invited_users_path, :method => :get, :class => 'button loginb', :style=>"margin-left: 6px;width: 124px;" %>

</div>
</div>

