<div id="arbolProblemas">
<center>
	<textarea class="inputs arbolCE" id="e1" name="13" placeholder="Efecto 1" maxlength="500"></textarea>
	<textarea class="inputs arbolCE" id="e2" name="13" placeholder="Efecto 2" maxlength="500"></textarea>
	<textarea class="inputs arbolCE" id="e3" name="13" placeholder="Efecto 3" maxlength="500"></textarea>

	<div class="verticalLine" style="margin: -5px 0 10px 20%; color: rgb(255, 255, 255);">.</div>
	<div class="verticalLine" style="margin: -46px 0 10px 50%; color: rgb(255, 255, 255);">.</div>
	<div class="verticalLine" style="margin: -46px 0 10px 76%; color: rgb(255, 255, 255);">.</div>

	<textarea class="inputs arbolP active" id="p1" name="13" placeholder="Problema" maxlength="500" disabled></textarea>

	<div class="verticalLine" style="margin: -5px 0 10px 20%; color: rgb(255, 255, 255);">.</div>
	<div class="verticalLine" style="margin: -46px 0 10px 50%; color: rgb(255, 255, 255);">.</div>
	<div class="verticalLine" style="margin: -46px 0 10px 76%; color: rgb(255, 255, 255);">.</div>

	<textarea class="inputs arbolCE" id="c1" name="13" placeholder="Causa 1" maxlength="500"></textarea>
	<textarea class="inputs arbolCE" id="c2" name="13" placeholder="Causa 2" maxlength="500"></textarea>
	<textarea class="inputs arbolCE" id="c3" name="13" placeholder="Causa 3" maxlength="500"></textarea>

</center>
</div>