<center>
	<textarea class="inputs arbolCE" id="13" name="13" placeholder="Efecto 1" ></textarea>
	<textarea class="inputs arbolCE" id="13" name="13" placeholder="Efecto 2" ></textarea>
	<textarea class="inputs arbolCE" id="13" name="13" placeholder="Efecto 3" ></textarea>

	<div class="verticalLine" style="margin: -5px 0 10px 20%;">.</div>
	<div class="verticalLine" style="margin: -46px 0 10px 50%;">.</div>
	<div class="verticalLine" style="margin: -46px 0 10px 76%;">.</div>

	<textarea class="inputs arbolP" id="13" name="13" placeholder="Problema" ></textarea>

	<div class="verticalLine" style="margin: -5px 0 10px 20%;">.</div>
	<div class="verticalLine" style="margin: -46px 0 10px 50%;">.</div>
	<div class="verticalLine" style="margin: -46px 0 10px 76%;">.</div>

	<textarea class="inputs arbolCE" id="13" name="13" placeholder="Causa 1" ></textarea>
	<textarea class="inputs arbolCE" id="13" name="13" placeholder="Causa 2" ></textarea>
	<textarea class="inputs arbolCE" id="13" name="13" placeholder="Causa 3" ></textarea>

</center>