<div id="arbolAcciones">
<center>
	<textarea class="inputs arbolCE" id="i1" name="13" placeholder="Impacto 1" ></textarea>
	<textarea class="inputs arbolCE" id="i2" name="13" placeholder="Impacto 2" ></textarea>
	<textarea class="inputs arbolCE" id="i3" name="13" placeholder="Impacto 3" ></textarea>

	<div class="verticalLine" style="margin: -5px 0 10px 20%;">.</div>
	<div class="verticalLine" style="margin: -46px 0 10px 50%;">.</div>
	<div class="verticalLine" style="margin: -46px 0 10px 76%;">.</div>

	<textarea class="inputs arbolP active" id="op1" name="13" placeholder="Objetivo Principal" ></textarea>

	<div class="verticalLine" style="margin: -5px 0 10px 20%;">.</div>
	<div class="verticalLine" style="margin: -46px 0 10px 50%;">.</div>
	<div class="verticalLine" style="margin: -46px 0 10px 76%;">.</div>

	<textarea class="inputs arbolCE lineaAccion" id="la1" name="13" placeholder="Linea de acción 1" ></textarea>
	<textarea class="inputs arbolCE lineaAccion" id="la2" name="13" placeholder="Linea de acción 2" ></textarea>
	<textarea class="inputs arbolCE lineaAccion" id="la3" name="13" placeholder="Linea de acción 3" ></textarea>

</center>
</div>