<div id="arbolAcciones">
<center>
	<textarea class="inputs arbolCE" id="i1" name="13" placeholder="Impacto 1" maxlength="500"></textarea>
	<textarea class="inputs arbolCE" id="i2" name="13" placeholder="Impacto 2" maxlength="500"></textarea>
	<textarea class="inputs arbolCE" id="i3" name="13" placeholder="Impacto 3" maxlength="500"></textarea>

	<div class="verticalLine" style="margin: -5px 0 10px 20%; color: rgb(255, 255, 255);">.</div>
	<div class="verticalLine" style="margin: -46px 0 10px 50%; color: rgb(255, 255, 255);">.</div>
	<div class="verticalLine" style="margin: -46px 0 10px 76%; color: rgb(255, 255, 255);">.</div>

	<textarea class="inputs arbolP active" id="op1" name="13" placeholder="Objetivo Principal" maxlength="500" disabled></textarea>

	<div class="verticalLine" style="margin: -5px 0 10px 20%; color: rgb(255, 255, 255);">.</div>
	<div class="verticalLine" style="margin: -46px 0 10px 50%; color: rgb(255, 255, 255);">.</div>
	<div class="verticalLine" style="margin: -46px 0 10px 76%; color: rgb(255, 255, 255);">.</div>

	<textarea class="inputs arbolCE lineaAccion" id="la1" name="13" placeholder="Linea de acción 1" maxlength="500"></textarea>
	<textarea class="inputs arbolCE lineaAccion" id="la2" name="13" placeholder="Linea de acción 2" maxlength="500"></textarea>
	<textarea class="inputs arbolCE lineaAccion" id="la3" name="13" placeholder="Linea de acción 3" maxlength="500"></textarea>

</center>
</div>