
<center>
	<div id="componentsTable">
		<div id="tituloTable">
			COMPONENTES
		</div>
		<table class="controlstable">
			<tr>
				<th>Componente</th>
				<th>Actividades</th>
				<th>Riesgos</th>
				<th>Plan de Contigencia</th>
			</tr>
			<tr>
				<td>
					<textarea class="inputs" id="txt_desc_componentes" style="margin: 0px 0px 10px; min-width: 209px; width: 98%; height: 130px; resize: none", required></textarea>
				</td>
				<td>
					<textarea class="inputs" id="txt_actividades_componentes" style="margin: 0px 0px 10px; min-width: 209px; width: 98%; height: 130px; resize: none"></textarea>
				</td>
				<td>
					<textarea class="inputs" id="txt_riesgos_componentes" style="margin: 0px 0px 10px; min-width: 209px; width: 98%; height: 130px; resize: none"></textarea>
				</td>
				<td>
					<textarea class="inputs" id="txt_contingencia_componentes" style="margin: 0px 0px 10px; min-width: 209px; width: 98%; height: 130px; resize: none"></textarea>
				</td>
			</tr>
			<tr>
				<td colspan="4" style="text-align: right;">
					<input type="button" class="button loginb" value="Agregar a tabla" id="btn_agregarComponente">
				</td>
			</tr>
		</table>
	</div>

	<table class="gridtable" style="border-radius:10px;" id="tablaComponentesDef">
	<tr >
		<th style="min-width: 235px; width: 98%;">Componente</th>
		<th style="min-width: 245px; width: 98%;">Actividades</th>
		<th style="min-width: 245px; width: 98%;">Riesgos</th>
		<th style="min-width: 250px; width: 98%;">Plan de Contigencia</th>
	</tr>

	</table>

</center>