<div id="diagramaActividades" style="">

	<p>Estas opciones que seleccionaste anteriormente se llaman componentes y 
		son aquellos con los que vas a trabajar. 
		Son también entendidos como líneas de acción.</p>

	<textarea class="inputs arbolCE" id="cAct1" name="13" placeholder="Causa 1" ></textarea>
	<textarea class="inputs arbolCE" id="cAct2" name="13" placeholder="Causa 2" ></textarea>
	<textarea class="inputs arbolCE" id="cAct3" name="13" placeholder="Causa 3" ></textarea>

	<!-- <div class="verticalLine" style="margin: -5px 0 10px 20%;">.</div>
	<div class="verticalLine" style="margin: -46px 0 10px 50%;">.</div>
	<div class="verticalLine" style="margin: -46px 0 10px 76%;">.</div> -->

	<p>¿Qué actividades debes realizar para lograr cada una de estas opciones?
	Entre más especificas sean más fácil te será determinar el tiempo total
	que te tomará realizar el proyecto.</p>

	<textarea class="inputs arbolCE" id="a1" name="13" placeholder="Actividad 1" ></textarea>
	<textarea class="inputs arbolCE" id="a2" name="13" placeholder="Actividad 2" ></textarea>
	<textarea class="inputs arbolCE" id="a3" name="13" placeholder="Actividad 3" ></textarea>

	<!-- <div class="verticalLine" style="margin: -5px 0 10px 20%;">.</div>
	<div class="verticalLine" style="margin: -46px 0 10px 50%;">.</div>
	<div class="verticalLine" style="margin: -46px 0 10px 76%;">.</div> -->

	<p> Cada una de estas actividades te van a tomar cierto tiempo realizarlas.
	Indica cuanto tiempo te llevará aproximadamente en cada una de ellas </p>
	<textarea class="inputs arbolCE" id="t1" name="13" placeholder="Tiempo 1" ></textarea>
	<textarea class="inputs arbolCE" id="t2" name="13" placeholder="Tiempo 2" ></textarea>
	<textarea class="inputs arbolCE" id="t3" name="13" placeholder="Tiempo 3" ></textarea>

</div>