<div id="diagramaActividades">
<center>
	<textarea class="inputs arbolCE" id="e1" name="13" placeholder="Efecto 1" ></textarea>
	<textarea class="inputs arbolCE" id="e2" name="13" placeholder="Efecto 2" ></textarea>
	<textarea class="inputs arbolCE" id="e3" name="13" placeholder="Efecto 3" ></textarea>

	<textarea class="inputs arbolCE" id="a1" name="13" placeholder="Actividad 1" ></textarea>
	<textarea class="inputs arbolCE" id="a2" name="13" placeholder="Actividad 2" ></textarea>
	<textarea class="inputs arbolCE" id="a3" name="13" placeholder="Actividad 3" ></textarea>

	<textarea class="inputs arbolCE" id="t1" name="13" placeholder="Tiempo 1" ></textarea>
	<textarea class="inputs arbolCE" id="t2" name="13" placeholder="Tiempo 2" ></textarea>
	<textarea class="inputs arbolCE" id="t3" name="13" placeholder="Tiempo 3" ></textarea>

</center>
</div>