<!--<div id="footer-wrapper">	
	<div id="copyright">
		&copy;Fluorescent Ideas Plataform. Proudly powered by <a href="www.applicattio.com" target="_blank">applicattio</a>
	</div>			
</div>-->


