        <div id="header-wrapper">
			<div id="logo_fi">
                <a href="#" class="ct-logo"><%= image_tag "logo.png" %></a>
           	</div>
            <!-- Nav -->
			<nav id="nav">
				<ul>
					<li class="current_page_item"><a href="#top">Inicio</a></li>
					<li><a href="#">Somos Fi</a></li>
					<li><a href="#">Proyectos</a></li>
					<li><a href="faq.html">Tutorial</a></li>
				</ul>
			</nav>
			
			<div id="btn_subeIdea">
				<a href="#" class="button">Sube tu Idea!</a>
			</div>
		</div>