<center>
	<div id="recursosTable">
		<div id="tituloTable">
			RECURSOS
		</div>
<table class="controlstable">
<tr>
	<th>Tipo Recurso</th>
	<th>Descripción</th>
	<th>Cantidad</th>
	<th>Costo Aprox.</th>
	<th></th>
</tr>
<tr>
	<td>
		<select class="inputs sel" placeholder="Sexo" autofocus="" required="" id="sel_tipoMat_agregarRecurso">
            <option value="0">Tipo Recurso</option>
  			<option value="material">Material</option>
  			<option value="humano">Humano</option>
  		</select>
	</td>
	<td>
		<input type="text" class="inputs controlTabla" placeholder="Descripción" autofocus=""  id="txt_desc_agregarRecurso">
	</td>
	<td>
		<input type="text" class="inputs controlTabla" placeholder="Cantidad" autofocus=""  id ="txt_cant_agregarRecurso">
	</td>
	<td>
		<input type="text" class="inputs controlTabla" placeholder="Costo Aprox" autofocus=""  id="txt_cost_agregarRecurso">
	</td>
	<td>
		<input type="button" class="button loginb" value="Agregar a tabla" id="btn_agregarRecurso">
	</td>
</tr>
</table>
</div>


<table class="gridtable" style="border-radius:10px;" id="tablaResourcesDef">
<tr >
	<th>Tipo Recurso</th>
	<th>Descripción</th>
	<th>Cantidad</th>
	<th>Costo Aprox.</th>
	<th>Sub Total</th>
</tr>
<!-- <tr>
	<td>Text 1A</td>
	<td>Text 1B</td>
	<td>Text 1C</td>
	<td>Text 1B</td>
	<td>Text 1C</td>
</tr>
<tr>
	<td>Text 2A</td>
	<td>Text 2B</td>
	<td>Text 2C</td>
	<td>Text 1B</td>
	<td>Text 1C</td>
</tr>-->
<!-- <tr>
	<td colspan="4"  style="border: inset 0pt; text-align: right; font-size: 20px; font-weight: bold; padding-right: 12px;">Total:</td>
	<td>Text 1C</td>
</tr> -->
</table>


</center>
