<div id="resourcesTable">
	<div><select</div>
	<div></div>
	<div></div>
	<div>
		<table>
			<tr>
				<td>Tipo Recurso </td> <td>Descripción</td> <td> Cantidad</td> <td>Costo</td> <td>Total</td>
			</tr>
			<tr>
				<td>Material </td> <td>Lapices</td> <td> 10</td> <td>12.34</td> <td>$2</td>
			</tr>
			<tr>
				<td>Humano </td> <td>Lider Ventas</td> <td>10</td> <td>250.24</td> <td>-2500</td>
			</tr>
		</table>
	</div>
</div>